{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
                <th>Email</th>
                <th>Reservations Id</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                <td>
                   <a href="{{ path('user_show', {'id':user.id}) }}"> {{ user.email }}</a>
                </td>
                <td>
                    {% for reservation in user.reservations %}
                        <a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
